/*CSS resets*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    line-height: 1.41;
    font-family: 'Rubik', sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header{
    background-color: #dee1ec;
    box-shadow: 0px 2px 10px rgba(0,0,0,.1);
    position: fixed;    /* Keeps Nav Bar Fixed in Place while scrolling */
    width: 100%;
    z-index: 99;
}

header a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #0b8457;
    text-transform: uppercase;
    transition: color 0.4s, background-color .4s;
}

header nav a:hover{
    color: #0b8457;
    font-weight: 800;
    background-color: rgba(0,0,0,.1);
}
header .logo a{
    font-weight: bold;
    color: #0b8457;
    font-weight: 800;
}
.logo{
    width: 90%;
    display: inline-block;
    font-size: 1.5em;
}
.logo a{
    display: inline-block;
    padding: 20px 10px;
    padding-left: 0px;
}
.nav-toggle{
    font-size: 1.5em;
    display: inline-block;
    text-align: right;
    cursor: pointer;
    transition: color .4s;
}
.nav-toggle:hover{
    color: #0b8457;
}
header nav{
    display: none;
}
header.open nav{
    display: block;
}

/* Container */
.container{
    max-width: 1100px;
    margin: auto;
    padding: 10px;
}

/* Intro */
#intro{
    padding-top: 80px;
    min-height: 500px;
    background-image:linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.6)), url(../img/intro.jpg);
    background-size: cover;
    background-position: 40%;
    background-attachment: fixed;
    text-align: center;
    position: relative;
}

.intro-text{
    margin-top: 15%;
}

.intro-text h1{
    padding: 10px 0px;
    font-size: 1.7em;
}
.intro-text h1 em{
    color: #0b8457;
}
.intro-text p{
    padding: 10px;
}
.intro-text .call-to-action{
    width: 60%;
    margin: auto;
    margin-top: 20px;
}
.intro-text .call-to-action a{
    display: block;
}
.btn-bg{
    padding: 10px;
    text-decoration: none;
    border: none;
    background-color: #0b8457;
    color: #fff;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    transition: all 0.4s;
}
.btn-bg:hover{
    color: #0b8457;
    background-color: #dee1ec;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}


/* About Us */
#about-us{
    background-color: #dee1ec;
}
.section-title{
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px;
}
.section-title span{
    color: #0b8457;
}
.section-desc{
    text-align: center;
    font-style: italic;
    padding: 5px 0px;
    margin-bottom: 30px;
    width: 80%;
    margin: 0 auto;
}
.work{
    margin: 20px 0px;
    text-align: center;
}
#about-us .work .work-icon{
    font-size: 3em;
    color: #0b8457;
    padding: 10px 0px;
}
#about-us .work .work-title{
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 0px;
}
.detail-text ul{
    list-style-type: circle;
    padding-left:20px;
}
.detail-text li{
    font-style: italic;
    padding: 5px;
}
.detail-img{
    margin: 20px 0px;
}

/* Experience */
#experiences{
    background-color: #0b8457;
    color: #fff;
}
.experience{
    text-align: center;
    font-size: 2em;
    padding: 10px;
    margin: 10px 0px;
}
.experience .experience-icon{
    font-size: 1.5em;
    padding: 5px;
}
.experience .experience-numb{
    font-style: italic;
}


/* Recent Work */
#portfolio .work{
    position: relative;
    box-shadow: 0px 0px 15px rgba(0,0,0,.1);
    cursor: pointer;
    overflow: hidden;
    height: 200px;
}
#portfolio .work img{
    transition: filter 0.4s, transform 0.3s;
}
#portfolio .work:hover img{
    filter: #0b8457(5px);
    transform: scale(2);
}
#portfolio .work:hover .work-title{
    bottom: 40px;
    padding: 50px 0px;
    background-color: #0b8457;
    color: #fff;
    font-size: 1.5em;
}
#portfolio .work .work-title{
    background-color: #dee1ec;
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 0px;
    transition: all 0.4s;
    font-size: 1.2em;
}
#portfolio .call-to-action{
    margin: 30px 0px 50px -10px;
}


/* Join Us*/
#work-with-us{
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)), url(../img/work-with-us.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #dee1ec;
    text-align: center;
}
#work-with-us h3,
#work-with-us h2{
    padding: 10px 0px;
}
#work-with-us .call-to-action{
    margin: 30px 0px;
    margin-left: -10px;
}


/* Services */
#services{
    background-color: #dee1ec;
}
.service{
    font-size: 1.2em;
    margin: 20px 0px;
    text-align: center;
}
.service-icon{
    font-size: 3em;
    color: #0b8457;
}
.service-title{
    padding: 10px 0px;
}
.service-desc{
    font-size: 0.8em;
}

/* Pricing */
.plan{
    margin: 20px 0px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border-top: 8px solid #0b8457;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.2);
}
.plan.highlight{
    box-shadow: 0px 0px 25px rgba(0,0,0,.3);
}
.plan-title{
    padding: 10px 0px;
    color: #0b8457;
    font-size: 1.8em;
}
.plan-price{
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
}
.plan-features li{
    padding: 5px 0px;
}
.plan .call-to-action{
    margin: 20px 0px;
}


/* Meet the Team*/
#team{
    background-color: #dee1ec;
}
.member{
    text-align: center;
    margin: 20px 0px;
}
.member .member-name{
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px 0px;
}
.member .member-job{
    font-style: italic;
    padding: 5px 0px;
}

.member .member-words{
    padding: 5px 0px;
}

.member .member-social a{
    display: inline-block; /* Keeps icons on the same line */
    padding: 10px;
    font-size: 1.1em;
    color: #0b8457;
    transition: color 0.4s;
}
.member .member-social a:hover{
    color: #5e7ce2;
}

/* Contact Us*/
form{
    background-color: #fff;
    padding: 10px;
}
form label{
    padding: 5px 0px;
    display: block;
}
form input,
form textarea{
    width: 100%;
    border: 2px solid transparent;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f4f4f4;
    transition: border .4s, background-color .4s;
}
form input:hover,
form textarea:hover,
form input:focus,
form textarea:focus{
    border: 2px solid #f4f4f4;
    background-color: #fff;
}
form textarea{
    height: 80px;
}
form .btn-bg{
    margin: 10px 0px;
}

/*footer start*/
footer{
    background-color: #0b8457;
    color: #fff;
}

footer a{
    color: #fff;
    display: inline-block;
    padding: 10px 0px;
}
footer p{
    padding: 10px 0px;
}

footer h6{
    font-size: 1.2em;
}
footer .info{
    margin: 10px 0px;
}
footer .copyright{
    text-align: center;
}

/* Back to Top Button */
.go-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #0b8457;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}
.go-up a{
    color: #fff;
    padding: 15px;
    display: inline-block;
}


img{
    width: 100%;
}
ul{
    list-style-type: none;
}



/* Media Queries */
@media screen and (min-width:750px){
    header .nav-toggle{
        display: none;
    }
    header nav{
        display: inline-block;
    }
    header nav li{
        display: inline-block;
    }
    #intro{
        height: 600px;
    }
    .intro-text{
        top: 250px;
    }
    .call-to-action a{
        max-width: 250px;
        margin: auto;
    }
    .work,
    .experience,
    .service,
    .plan,
    .member,
    footer .info{
        width: 45.5%;
        display: inline-block;
        margin: 2%;
    }
    .work.first,
    .service:last-child,        /* Target Last Child of the Parent Container */
    .plan:last-child{
        display: block;
        margin: auto;
    }
    #portfolio .call-to-action{
        margin:20px 15px;
    }
    .member-img{
        height: 250px;
        overflow: hidden;
    }
    footer{
        vertical-align: text-top;
    }



}
@media screen and (min-width: 1000px){
    header .logo{
        display: inline-block;
        width: 25%;
    }
    header nav{
        width: 70%;
    }
    section{
        padding-bottom: 20px;
    }
    #map{
        padding-bottom: 0px;
    }
    .work,
    .service,
    .plan,
    .member,
    footer .info{
        width: 30.5%;
        display: inline-block;
        margin: 1.1%;
    }
    .plan.highlight{
        margin: 0;
        margin-right: 1.3%;
    }
    .experience,
    .member{
        width: 22%;
        margin: 1%;
    }
    .member .member-img{
        height: 140px;
        width: 140px;
        margin: auto;
        margin-top: 20px;
    }
    .member-img img{
        height: 140px;
        width: 140px;
        border-radius: 50%;
    }

    .work.first,
    .service:last-child,
    .plan:last-child{
        display: inline-block;
    }
    #work-with-us{
        padding-top: 30px;
    }
    form{
        max-width: 700px;
        margin: auto;
    }
}
